body{
    background-color: #d5e1ef;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .qr-code{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
 }
 .qr-code .box{
     height: auto;
     width: 355px;
     border: 1px solid #d5e1ef;
     background-color: #fff;
     border-radius: 20px;
     padding: 20px;
     box-shadow: 10px 10px 1rem hsla(218, 44%, 22%, 0.1);
 }
 .qr-code img{
     width: 100%;
     object-fit: fill;
     border-radius: 10px;
 }
 .qr-code h2{
     padding: 15px 19px;
     font: normal normal bold 23px/1.3 'system-ui';
     color: #1f3251;
     text-align: center;
     opacity: 0.95;
 }
 .qr-code p{
     color:#7b879d;
     font: normal normal 500 16px/normal 'system-ui';
     padding: 0 20px 10px;
     text-align: center;
 }
